* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

textarea,
textarea:focus {
    outline: none;
    box-shadow: none;
    resize: none;
}

button {
    border: none;
}

/* ******************************************************************************************* */

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start
}