@import './variable.css';

#container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#viewBox {
    flex: 0.9;
    overflow-y: auto;
}

.messageBox {
    display: flex;

    height: fit-content;

    padding: 10px;
}

.serverAlarm {
    margin: 0 auto;
    padding: var(--message-padding);
    background-color: #e1e3e1;
    border-radius: var(--message-cornerRadius);
}

.profile {
    /* 프로필은 고정 */
    width: var(--profile-width);
    height: var(--profile-height);

    /* 중앙 정렬 */
    text-align: center;
    line-height: var(--profile-height);

    margin: 0 20px;

    border: 2px solid palevioletred;
    border-radius: 25px;
}

.message {
    width: fit-content;
    max-width: calc(100% - 4 * var(--profile-width));
    word-break: break-all;
    padding: var(--message-padding);

    border: 1px solid black;
    border-radius: var(--message-cornerRadius);
}

#inputBox {
    flex: 0.1;
    display: flex;

    padding: 5px;
    gap: 5px;
}

#inputContent {
    flex: 0.7;
    border: 1px solid #0d6efd;
    padding:10px;
}

#sendButton {
    flex: 0.3;

    background-color: #0d6efd;
    color: white;
    font-size: 1.2rem;
}

