:root {
    --width: 800px;
    --height: 1200px;

    --profile-width: 100px;
    --profile-height: 50px;

    --message-padding: 10px 20px;
    --message-cornerRadius: 10px;

    --inputBox-height: 100px;
    --sendButton-width: 100px;

    --primary-color: #0d6efd;
}