* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

textarea,
textarea:focus {
    outline: none;
    box-shadow: none;
}

button {
    border: none;
}

/* ******************************************************************************************* */

#container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: azure;
}

#view {
    flex: 0.7;
    background-color: red;
}

#inputBox {
    flex: 0.3;

    display: flex;
    background-color: blue;
}

#inputContent {
    flex: 0.7;
    background-color: blueviolet;
}

#sendButton {
    flex: 0.3;
    background-color: chartreuse;
}

